version: '3'
services:
  jupyter:
    image: myworkflowjl
    container_name: myjupyter
    volumes:
      - ./:/work
    working_dir: /work
    ports:
      - "8888:8888"
    command: jupyter notebook --notebook-dir /work --ip=0.0.0.0 --allow-root
  lab:
    image: myworkflowjl
    container_name: mylab
    volumes:
      - ./:/work
    working_dir: /work
    ports:
      - "8888:8888"
    command: jupyter lab --notebook-dir /work --ip=0.0.0.0 --allow-root
  julia:
    image: myworkflowjl
    container_name: myjulia
    volumes:
      - ./:/work
    working_dir: /work
    command: julia --project=/work
  web:
    image: myworkflowjl
    container_name: mypackagedocs
    volumes:
      - ./:/work
    working_dir: /work
    ports:
      - "8000:8000"
    command: make web
  pluto:
    image: myworkflowjl
    container_name: mypluto
    volumes:
      - ./:/work
    working_dir: /work
    ports:
      - "9999:9999"
    command: julia -e 'import Pluto; Pluto.run("0.0.0.0", 9999)'
