name: Build Binder container

on:
  - push
  - pull_request

jobs:
  build-container:
    name: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - run: cp binder/Dockerfile . && docker build -t jl .
