name: Build-Push
on:
  schedule:
    - cron: 0 3 * * *
  push:
    branches:
      - master

jobs:
  build-container:
    name: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: whoan/docker-build-with-cache-action@v5
        with:
          username: terasakisatoshi
          password: ${{ secrets.DOCKER_PASSWORD }}
          image_name: terasakisatoshi/myworkflowjl
